extends layout
block content
  .container
    .row
      .col-md-2
      .col-md-8
        table(class="table table-hover", style="text-align: center;")
          div(class="panel panel-default")
            a(href="/")
              div(class="panel-heading", style="text-align: center;")
                h4=HospitalName + " Emergency Room Queue"
            div(class="btn-group btn-group", id="bootstrap-override", style="text-align: center;")
              form(action="", method="post")
                button(type="submit", name="PatientStatus", value="1", class="btn btn-outline-primary") +OMEGA
                button(type="submit", name="PatientStatus", value="2", class="btn btn-outline-secondary") +ALPHA
                button(type="submit", name="PatientStatus", value="3", class="btn btn-outline-success") +BRAVO
                button(type="submit", name="PatientStatus", value="4", class="btn btn-outline-info") +CHARLIE
                button(type="submit", name="PatientStatus", value="5", class="btn btn-outline-warning") +DELTA
                button(type="submit", name="PatientStatus", value="6", class="btn btn-outline-danger") +ECHO              
            thead
              tr
                th(colspan=3, style="text-align: center; vertical-align: middle;") Recent Activity
            tbody(id="bootstrap-override") 
              tr
                td(colspan=2)="Patient " + patients[0].PatientID + " added to queue"
                td(colspan=1)= "Undo"
              tr
                td(colspan=2)="Patient " + patients[1].PatientID + " removed from queue"
                td(colspan=1)= "Undo"
              tr
                td(colspan=2)="Patient " + patients[2].PatientID + " deleted from system"
                td(colspan=1)= "Undo"
            thead
              tr
                th(style="text-align: center; vertical-align: middle;") Patient ID
                th(style="text-align: center; vertical-align: middle;") Admission Time
                th(style="text-align: center; vertical-align: middle;") Urgency Category
            for patient in patients
              -  var token;
              -  if(patient.PatientStatus == 1) token = "primary";
              -  else if(patient.PatientStatus == 2) token = "secondary";
              -  else if(patient.PatientStatus == 3) token = "success";
              -  else if(patient.PatientStatus == 4) token = "info";
              -  else if(patient.PatientStatus == 5) token = "warning";
              -  else if(patient.PatientStatus == 6) token = "danger";
              tbody(id="bootstrap-override") 
                tr
                  td=patient.PatientID
                  td=patient.WaitTimeStart
                  td
                    span(class="btn btn-outline-" + token)=patient.PatientStatus
    .col-md-2