extends layout
block content
  script(src="/javascripts/tabs.js")
  .container
    .card(id="message")
      button(class="btn btn-outline-secondary hide", id="hide")
        img(id="colour", src="/images/clear.svg")
        img(id="white", src="/images/whiteclear.svg", style="display: none;")
      .card-block 
        p(id='bootstrap-override') This page displays real-time occupancy data for each of the 11 Accident & Emergency Waiting Rooms in the East Hospital Group. The estimated Incoming Patient Wait Time for a particular <a href='http://www.phecit.ie/Images/PHECC/Clinical%20resources/STN001%20EMS%20Priority%20Dispatch%20Standard%20V4.pdf'> triage category </a> is based on:
        ul
          li="the hospital's average initial treatment time for a patient in a particular triage category"
          li="the average efficiency of the hospital staff"
          li="the number of staff on duty" 
          li="the number of patients of a particualr triage category or higher (more urgent) already in the queue"
        p="The estimated Incoming Patient Wait Time is indicated in minutes."
        p="The Severity Adjusted Wait Time figure indicates the overall healthcare demand of a waiting room. It is calculated by summing the total number of estimated wait minutes for every patient currently in the waiting room queue and applying a higher weighting to patients of a higher severity triage category. It can be thought of as the emergency room equivalent of the 'man-hour', scaled to reflect the varying severities of the triage categories."
    .div(class="row pills-centered")
      .text-center
        ul(class="nav nav-pills pills-centered")
          li(class="nav-item centered-item")
            a(class="nav-link pills-centered" data-toggle="tab" href="#omega") OMEGA
          li(class="nav-item centered-item")
            a(class="nav-link" data-toggle="tab" href="#alpha") ALPHA
          li(class="nav-item centered-item")
            a(class="nav-link" data-toggle="tab" href="#bravo") BRAVO
          li(class="nav-item centered-item")
            a(class="nav-link" data-toggle="tab" href="#charlie") CHARLIE
          li(class="nav-item centered-item")
            a(class="nav-link" data-toggle="tab" href="#delta") DELTA
          li(class="nav-item centered-item")
            a(class="nav-link" data-toggle="tab" href="#echo") ECHO                  
    .row                  
      div(class="col-md-2")
      div(class="col-md-8")
        .tab-content
          for category, i in categories
            div(class="tab-pane" id=i role="tabpanel")
              div(class="card card-outline", id=i)
                table(class="table table-sucess table-hover")
                  thead
                    tr
                      th(style="text-align: center; vertical-align: middle;")="Hospital"
                      th(style="text-align: center; vertical-align: middle;")="Incoming Patient Wait Time"
                  tbody(style="text-align: center;")
                    for hospital in category
                      tr
                        td=hospital.name
                        td=hospital.time
      div(class="col-md-2")
    .row
      for hospital in data
        div(class="col-md-4")
          div(class="panel panel-default", id="bootstrap-override")
            a(href=("/" + hospital.HospitalID))
              div(class="panel-heading", style="text-align: center;")
                h4=hospital.HospitalName
            table(class="table table-hover", style="text-align: center;")
              thead
                tr
                  th(style="text-align: center; vertical-align: middle;") Triage Category
                  th(style="text-align: center; vertical-align: middle;") Incoming Patient Wait Time
                  th(style="text-align: center; vertical-align: middle;") Patients in Waiting Room
              tbody(id="bootstrap-override") 
                tr
                  td OMEGA
                  td=hospital.OmegaTime
                  td=hospital.OmegaPatients
                tr
                  td ALPHA
                  td=hospital.AlphaTime
                  td=hospital.OmegaPatients
                tr
                  td BRAVO
                  td=hospital.BravoTime
                  td=hospital.BravoPatients
                tr
                  td CHARILE
                  td=hospital.CharlieTime
                  td=hospital.CharliePatients
                tr
                  td DELTA
                  td=hospital.DeltaTime
                  td=hospital.DeltaPatients        
                tr
                  td ECHO
                  td=hospital.EchoTime
                  td=hospital.EchoPatients
              thead
                tr(style = "border-top-style: solid; border-top-width: 2px; border-top-color: #ddd")
                  th(colspan=2) Total Patients in Waiting Room
                  th(style="text-align: center;")=hospital.TotalPatients
              thead
                tr
                  th(colspan=2) Total Staff on Duty
                  th(style="text-align: center;")=hospital.Staff
              thead
                tr 
                  th(colspan=2) Severity Adjusted Wait Time
                  th(style="text-align: center;")=hospital.SAWTime              

            div(class="panel-heading")
