extends layout
block content
  script(src="/javascripts/mainbtns.js")
  .container
    .card(id="message")
      button(class="btn btn-outline-secondary hide", id="hide")
        img(id="colour", src="/images/clear.svg")
        img(id="white", src="/images/whiteclear.svg", style="display: none;")
      .card-block 
        p(id='bootstrap-override') This page displays real-time occupancy data for each of the 11 Accident & Emergency Waiting Rooms included in the East Hospital Group. The estimated Incoming Patient Wait Time for a particular <a href='http://www.phecit.ie/Images/PHECC/Clinical%20resources/STN001%20EMS%20Priority%20Dispatch%20Standard%20V4.pdf'> triage category </a> is based on:
        ul
          li="the hospital's average initial treatment time for a patient in a particular triage category;"
          li="the average efficiency of the hospital staff;"
          li="the number of staff on duty;" 
          li="and how many patients of a particualr triage category or higher (more urgent) are already in the queue."
        p="The estimated Incoming Patient Wait Time is indicated in minutes."
    .row
      form()    
                div(class="btn-group rank", id="bootstrap-override-ranks", style="text-align: center;")
                  button(type="button", id="omegabtn", class="btn btn-outline-primary")
                    span="OMEGA "
                    img(id="colour", src="/images/rankO.svg")
                    img(id="white", src="/images/whiterank.svg", style="display: none;")
                  button(type="button", id="alphabtn" class="btn btn-outline-secondary")
                    span="ALPHA "
                    img(id="colour", src="/images/rankA.svg")
                    img(id="white", src="/images/whiterank.svg", style="display: none;")
                  button(type="button", id="bravobtn" class="btn btn-outline-success")
                    span="BRAVO "
                    img(id="colour", src="/images/rankB.svg")
                    img(id="white", src="/images/whiterank.svg", style="display: none;")           
                  button(type="button", id="charliebtn" class="btn btn-outline-info")
                    span="CHARLIE "
                    img(id="colour", src="/images/rankC.svg")
                    img(id="white", src="/images/whiterank.svg", style="display: none;")           
                  button(type="button", id="deltabtn" class="btn btn-outline-warning")
                    span="DELTA "
                    img(id="colour", src="/images/rankD.svg")
                    img(id="white", src="/images/whiterank.svg", style="display: none;")           
                  button(type="button", id="echobtn" class="btn btn-outline-danger")
                    span="ECHO "
                    img(id="colour", src="/images/rankE.svg")
                    img(id="white", src="/images/whiterank.svg", style="display: none;")           
    .row                  
      div(class="col-md-2")
      div(class="col-md-8")
        for values, category in categories
          div(class="card card-outline", id=category, style="display: none;")
            table(class="table table-sucess table-hover" data-toggle="table")
              thead
                div(style="text-align: center; margin-top: .5rem;", class="panel-heading")
                  h4(class="text-uppercase")=category
                tr
                  th(style="text-align: center; vertical-align: middle;")="Hospital"
                  th(style="text-align: center; vertical-align: middle;", data-sortable="true")="Incoming Patient Wait Time"
              tbody(style="text-align: center;")
                for key, value in values
                  tr
                    td=value
                    td=key
      div(class="col-md-2")
    .row
      for hospital in data
        div(class="col-md-4")
          div(class="panel panel-default", id="bootstrap-override")
            a(href=("/" + hospital.HospitalID))
              div(class="panel-heading", style="text-align: center;")
                h4=hospital.HospitalName
            table(class="table table-hover", style="text-align: center;")
              thead
                tr
                  th(style="text-align: center; vertical-align: middle;") Triage Category
                  th(style="text-align: center; vertical-align: middle;") Incoming Patient Wait Time
                  th(style="text-align: center; vertical-align: middle;") Patients in Waiting Room
              tbody(id="bootstrap-override") 
                tr
                  td OMEGA
                  td=hospital.OmegaTime
                  td=hospital.OmegaPatients
                tr
                  td ALPHA
                  td=hospital.AlphaTime
                  td=hospital.OmegaPatients
                tr
                  td BRAVO
                  td=hospital.BravoTime
                  td=hospital.BravoPatients
                tr
                  td CHARILE
                  td=hospital.CharlieTime
                  td=hospital.CharliePatients
                tr
                  td DELTA
                  td=hospital.DeltaTime
                  td=hospital.DeltaPatients        
                tr
                  td ECHO
                  td=hospital.EchoTime
                  td=hospital.EchoPatients
              thead
                tr(style = "border-top-style: solid; border-top-width: 2px; border-top-color: #ddd")
                  th(colspan=2) Total Patients in Waiting Room
                  th(style="text-align: center;")=hospital.TotalPatients
              thead
                tr
                  th(colspan=2) Total Staff on Duty
                  th(style="text-align: center;")=hospital.Staff
              thead
                tr 
                  th(colspan=2) Severity Adjusted Wait Time
                  th(style="text-align: center;")=hospital.SAWTime              

            div(class="panel-heading")
